Package: com.akshu.vc
Name: Showvc
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tweak to know the class names of controllers.
Maintainer: Akshay Khamankar
Author: Akshay Khamankar
Section: Tweaks
